<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Jbp_Cart>
            <version>0.1.0</version>
        </Jbp_Cart>
    </modules>
    <frontend>
    	<routers>
    		<cart>    			
                <use>standard</use>
                <args>
                    <module>Jbp_Cart</module>
                    <frontName>jbpcart</frontName>
                </args>            
    		</cart>
    	</routers>
    </frontend>
    <global>
        <models>
            <cart>
                <class>Jbp_Cart_Model</class>
                <resourceModel>cart_mysql4</resourceModel>
            </cart>
            <cart_mysql4>
                <class>Jbp_Cart_Model_Mysql4</class>
                <entities>
                </entities>
            </cart_mysql4>
        </models>
        <events>
        	<controller_action_predispatch_checkout_onepage_saveOrder>        	
	        	<observers>
        			<jbp_cart_model_observer>
        				<type>singleton</type>
			            <class>Jbp_Cart_Model_Observer</class>
			            <method>explodeCartOrder</method>
        			</jbp_cart_model_observer>
	        	</observers>
        	</controller_action_predispatch_checkout_onepage_saveOrder>
        </events>
        <helpers>
            <cart>
                <class>Jbp_Cart_Helper</class>
            </cart>
        </helpers>
        <blocks>
            <cart>
                <class>Jbp_Cart_Block</class>
            </cart>
        </blocks>
    </global>    
</config>