<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Jbp_Api>
            <version>0.1.0</version>
        </Jbp_Api>
    </modules>
	<frontend>
		<routers>
			<jbp_api>
	            <use>standard</use>
	            <args>
	                <module>Jbp_Api</module>
	                <frontName>jbpapi</frontName>
	            </args>
            </jbp_api>
        </routers>
   	</frontend>   	
    <global>    
    	<!--events>
	    	<sales_order_place_before>
	            <observers>
	                <jbp_api_has_stock>
	                    <class>jbp_api/observer</class>
	                    <method>hasStockErp</method>
	                </jbp_api_has_stock>
	            </observers>
	        </sales_order_place_before>
    	</events-->
    	<helpers>
            <jbp_api>
                <class>Jbp_Api_Helper</class>
            </jbp_api>
        </helpers>
        <models>
            <jbp_api>
                <class>Jbp_Api_Model</class>
            </jbp_api>
        </models>
		<resources>
			<jbp_api_setup>
				<setup>
 				   <module>Jbp_Api</module>
				</setup>
			</jbp_api_setup>
		</resources>
    </global>
</config>