<?xml version="1.0"?>
<config>
    <modules>
        <Jefferson_Page>
            <version>1.0.0</version>
        </Jefferson_Page>
    </modules>
    <global>
        <page>
		   <layouts>
			    <custom_page_one>
		    	 	<label>Custom Page One</label>
		 	    	<template>page/page-custom.phtml</template>
			    </custom_page_one>
		   </layouts>
		 </page>
    </global>
</config>
