<?xml version="1.0"?>
<config>
    <modules>
        <Ei_Creditpoint>
            <version>1.0.1</version>
        </Ei_Creditpoint>
    </modules>
    <frontend>
        <routers>
            <ei_creditpoint>
                <use>standard</use>
                <args>
                    <module>Ei_Creditpoint</module>
                    <frontName>creditpoint</frontName>
                </args>
            </ei_creditpoint>
        </routers>
         <layout>
            <updates>
                <creditpoint module="Ei_Creditpoint">
                    <file>ei/creditpoint.xml</file>
                </creditpoint>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <ei_creditpoint>
                <use>admin</use>
                <args>
                    <module>Ei_Creditpoint</module>
                    <frontName>creditpoint</frontName>
                </args>
            </ei_creditpoint>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <creditpoint>
                    <file>ei/creditpoint.xml</file>
                </creditpoint>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <creditpoint>
            <general>
                <points_currency>10/10</points_currency>
                <points_earn>100/10</points_earn>
                <minimum_credit_required>0</minimum_credit_required>
                <maximum_credit_allowed>0</maximum_credit_allowed>
            </general>
        </creditpoint>
    </default>
    <global>
        <blocks>
            <creditpoint>
                <class>Ei_Creditpoint_Block</class>
            </creditpoint>
            <sales>
                <rewrite>
                    <order_totals>Ei_Creditpoint_Block_Sales_Order_Totals</order_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_order_totals>Ei_Creditpoint_RW_Adminhtml_Block_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>Ei_Creditpoint_RW_Adminhtml_Block_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>Ei_Creditpoint_RW_Adminhtml_Block_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <creditpoint>
                <class>Ei_Creditpoint_Helper</class>
            </creditpoint>
        </helpers>
        <sales>
         <quote>
             <totals>
                 <creditpoint>
                     <class>creditpoint/sales_quote_address_total_creditpoint</class>
                     <after>subtotal</after>
                     <before>tax</before>
                 </creditpoint>
             </totals>
         </quote>
         <order_invoice>
             <totals>
                 <creditpoint>
                     <class>creditpoint/sales_order_total_invoice_creditpoint</class>
                     <after>subtotal</after>
                     <before>tax</before>
                 </creditpoint>
             </totals>
         </order_invoice>
         <order_creditmemo>
             <totals>
                 <creditpoint>
                     <class>creditpoint/sales_order_total_creditmemo_creditpoint</class>
                     <after>subtotal</after>
                     <before>tax</before>
                 </creditpoint>
             </totals>
         </order_creditmemo>
    </sales>
    <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <checkout_deduct_credit_amount>
                        <type>singleton</type>
                        <class>creditpoint/observer</class>
                        <method>deductCreditAmount</method>
                    </checkout_deduct_credit_amount>
                </observers>
            </checkout_type_onepage_save_order_after>
            <sales_order_save_after>
                <observers>
                    <deposit_creditamount>
                        <type>singleton</type>
                        <class>creditpoint/observer</class>
                        <method>revertCreditPoints</method>
                    </deposit_creditamount>
                </observers>
            </sales_order_save_after>
            <paypal_prepare_line_items>
        	<observers>
                    <paypal_prepare_line_items>
        		<class>creditpoint/observer</class>
                        <method>updatePaypalTotal</method>
        	    </paypal_prepare_line_items>
        	</observers>
            </paypal_prepare_line_items>
           	<sales_order_invoice_save_after>
                <observers>
                    <sales_order_invoice_save_after>
                        <class>creditpoint/observer</class>
                        <method>invoiceSaveAfter</method>
                    </sales_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_after>
        </events>
     <fieldsets>
            <sales_convert_quote_address>
                <creditpoint_amount>
                    <to_order>*</to_order>
                </creditpoint_amount>
                <base_creditpoint_amount>
                    <to_order>*</to_order>
                </base_creditpoint_amount>
            </sales_convert_quote_address>
        </fieldsets>
        <pdf>
            <totals>
                <creditpoint translate ="title">
                    <title>Credit Points Discount</title>
                    <source_field>creditpoint_amount</source_field>
                    <model>creditpoint/sales_pdf_creditpoint</model>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>650</sort_order>
                </creditpoint>
            </totals>
        </pdf>
        <models>
            <creditpoint>
                <class>Ei_Creditpoint_Model</class>
                <resourceModel>creditpoint_mysql4</resourceModel>
            </creditpoint>
            <creditpoint_adminhtml>
                <class>Ei_Creditpoint_Adminhtml_Model</class>
            </creditpoint_adminhtml>
            <creditpoint_mysql4>
                <class>Ei_Creditpoint_Model_Mysql4</class>
                <entities>
                    <creditpoint>
                        <table>customer_credit_point</table>
                    </creditpoint>
                </entities>
            </creditpoint_mysql4>
        </models>
        <resources>
            <creditpoint_setup>
                <setup>
                    <module>Ei_Creditpoint</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </creditpoint_setup>
            <creditpoint_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </creditpoint_write>
            <creditpoint_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </creditpoint_read>
        </resources>
    </global>
</config>